In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
import math
import time
from sklearn.neighbors import KNeighborsRegressor

In [8]:
df=pd.read_csv('C:\\Users\\Trivikram\\ML_Projects\\Data\\reg.csv')
df

   X1  X2   Y
0   3   2  42
1   7   4  23
2   3   6  24
3   7   8  35
4  11   8   3

In [21]:
from sklearn.model_selection import GridSearchCV

In [22]:
X=df[['X1','X2']]

In [23]:
X

   X1  X2
0   3   2
1   7   4
2   3   6
3   7   8
4  11   8

In [24]:
y=df[['Y']]

In [25]:
y

    Y
0  42
1  23
2  24
3  35
4   3

In [39]:
neigh = KNeighborsRegressor(n_neighbors=3)
neigh.fit(X,y)
neigh.predict([[4,7]])

array([[27.33333333]])

In [ ]:
### neigh.fit(X,y)