In [30]:
import pandas as pd
import math
from statistics import mode 
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
import math
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [31]:
df=pd.read_csv("adult.data",header=None,names=['Age','Workplace','fnlwgt','education','education num','marital-stauts','occupation','relationship','race','sex','capital gain','capital loss','hours per week','native country','Salary'])
df

,Age,Workplace,fnlwgt,education,education num,marital-stauts,occupation,relationship,race,sex,capital gain,capital loss,hours per week,native country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [32]:
def removeQuestionMark(inpCol,X):
    for i in inpCol:
        repl=X[i].value_counts().keys().tolist()[0]
        X[i]=X[i].replace(to_replace=' ?',value=repl)
        return X

In [33]:
y=df[['Salary']]
X=df[['Age','fnlwgt','education num','capital gain','capital loss','hours per week','Workplace','education','race','sex','marital-stauts','occupation','relationship','native country']]
inpCol=list(X.columns)
outCol=list(y.columns)
df[inpCol]=removeQuestionMark(inpCol,X)
categCol=['Workplace','education','race','sex','marital-stauts','occupation','relationship','native country']
contCol=['Age','fnlwgt','education num','capital gain','capital loss','hours per week']

C:\Users\Trivikram\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [35]:
enc = OneHotEncoder(handle_unknown='ignore')
binaryValues=enc.fit_transform(df[categCol]).toarray()
newCol=list(enc.get_feature_names(categCol))
encodedCategData = pd.DataFrame(binaryValues,columns=newCol,index=df.index)
# contData=df[['Age','fnlwgt','education num','capital gain','capital loss','hours per week']]
# X=contData.merge(encodedCategData,left_index=True,right_index=True)
# scaler = StandardScaler()
# X=pd.DataFrame(data=scaler.fit_transform(X),columns=contCol)
encodedCategData

,Workplace_ ?,Workplace_ Federal-gov,Workplace_ Local-gov,Workplace_ Never-worked,Workplace_ Private,Workplace_ Self-emp-inc,Workplace_ Self-emp-not-inc,Workplace_ State-gov,Workplace_ Without-pay,education_ 10th,...,native country_ Portugal,native country_ Puerto-Rico,native country_ Scotland,native country_ South,native country_ Taiwan,native country_ Thailand,native country_ Trinadad&Tobago,native country_ United-States,native country_ Vietnam,native country_ Yugoslavia
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32558,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32560,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

                                                   0
0         Age  fnlwgt  education num  capital gai...

In [16]:
X

[       Age  fnlwgt  education num  capital gain  capital loss  hours per week  \
 0       39   77516             13          2174             0              40
 1       50   83311             13             0             0              13
 2       38  215646              9             0             0              40
 3       53  234721              7             0             0              40
 4       28  338409             13             0             0              40
 ...    ...     ...            ...           ...           ...             ...
 32556   27  257302             12             0             0              38
 32557   40  154374              9             0             0              40
 32558   58  151910              9             0             0              40
 32559   22  201490              9             0             0              20
 32560   52  287927              9         15024             0              40

                Workplace    education    race      sex       marital-stauts  \
 0              State-gov    Bachelors   White     Male        Never-married
 1       Self-emp-not-inc    Bachelors   White     Male   Married-civ-spouse
 2                Private      HS-grad   White     Male             Divorced
 3                Private         11th   Black     Male   Married-civ-spouse
 4                Private    Bachelors   Black   Female   Married-civ-spouse
 ...                  ...          ...     ...      ...                  ...
 32556            Private   Assoc-acdm   White   Female   Married-civ-spouse
 32557            Private      HS-grad   White     Male   Married-civ-spouse
 32558            Private      HS-grad   White   Female              Widowed
 32559            Private      HS-grad   White     Male        Never-married
 32560       Self-emp-inc      HS-grad   White   Female   Married-civ-spouse

                occupation    relationship  native country
 0            Adm-clerical   Not-in-family   United-States
 1         Exec-managerial         Husband   United-States
 2       Handlers-cleaners   Not-in-family   United-States
 3       Handlers-cleaners         Husband   United-States
 4          Prof-specialty            Wife            Cuba
 ...                   ...             ...             ...
 32556        Tech-support            Wife   United-States
 32557   Machine-op-inspct         Husband   United-States
 32558        Adm-clerical       Unmarried   United-States
 32559        Adm-clerical       Own-child   United-States
 32560     Exec-managerial            Wife   United-States

 [32561 rows x 14 columns]]

In [6]:
enc = OneHotEncoder(handle_unknown='ignore')
binaryValues=enc.fit_transform(X[categCol]).toarray()
newCol=list(enc.get_feature_names(categCol))
categData = pd.DataFrame(binaryValues,columns=newCol,index=X.index)
X=df[contCol].merge(categData,left_index=True,right_index=True)
scaler = StandardScaler()
X=pd.DataFrame(data=scaler.fit_transform(X),columns=X.columns)
X

KeyError: "None of [Index(['Workplace', 'education', 'race', 'sex', 'marital-stauts', 'occupation',\n       'relationship', 'native country'],\n      dtype='object')] are in the [columns]"

In [15]:
k=int(input("How many clusters do you want? "))

How many clusters do you want? 2

In [16]:
centroids=[]
while(len(np.unique(centroids))!=k):
    centroids=np.random.randint(low=0,high=df.shape[0]-1,size=k)
centroids=np.asarray(df.iloc[centroids])
noOfCol=len(df.columns)
previousClusters=[0]*k
clusters=[1]*k

In [17]:
while previousClusters!=clusters:
    dis=[[np.sqrt(sum((np.subtract(centroids[i],df.iloc[j].tolist()))**2)) for j in range(df.shape[0])] for i in range(k)]
    distance=pd.DataFrame(dis).T    #Transpose
    previousClusters=clusters
    clusters=distance.idxmin(axis=1).tolist()
    indexes= [[i for i, value in enumerate(clusters) if value == j]for j in range(k)]
    centroids=np.asarray([df.iloc[i].mean().tolist() for i in indexes])

TypeError: reduction operation 'argmin' not allowed for this dtype

In [22]:
centroids

array([[ 0.17729573,  0.52266691, -0.03136003, -0.14592048, -0.21665953,
        -0.03542945,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-0.40920495,  0.67271188, -0.03136003, -0.14592048, -0.21665953,
         0.04556032,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  1.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ]])